@using TripTrotters.ViewModels;
@model ReviewViewModel;

<form method="post" asp-controller="Review" asp-action="Edit" >
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ApartmentId" />
    <div class="form-group mb-2 mt-2">
        <textarea asp-for="Description" class="form-control" rows="2" value="@Model.Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Rating">Rating</label>
        <input type="number" asp-for="Rating" class="form-control" min="1" max="5" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="background-color: #2ec42e; border:none">Edit your review</button>
    </div>
</form>
