@using TripTrotters.ViewModels;
@model CommentViewModel;
@{
}

<form asp-controller="Comment" asp-action="UpdateLike" asp-route-Id="@Model.Id" method="post">
    <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <input asp-for="Like" type="hidden" value="@Model.Like" />
    <div class="form-group">
        <button style="border:none">
            <span class="far fa-thumbs-up"></span>
        </button>
    </div>
</form>