@using TripTrotters.ViewModels;
@using TripTrotters.Services.Abstractions;
@model EditPostViewModel


<form method="post" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="UserId" asp-for="UserId"/>
    <input type="hidden" name="ApartmentId" asp-for="ApartmentId" />

    <div class=" form-group mb-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class=" form-group mb-3">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Budget">Budget/Night</label>
        <div class="input-group">
            <span class="input-group-text">RON</span>
            <input asp-for="Budget" class="form-control">
            <span asp-validation-for="Budget" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NewImages">Upload more Images</label>
        <input asp-for="NewImages" type="file" multiple class="form-control">
        <span asp-validation-for="NewImages" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label>Or delete existing Images</label>
        @{
            int n = 1;
        }
        @if (Model.ImageUrls != null)
        {
            @foreach (var url in Model.ImageUrls)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="image-@n" value="@url" name="ImagesToDelete">
                    <label class="form-check-label" for="image-@n">@n. Delete</label>
                </div>
                n++;
                <img src="@url" class="img-thumbnail" style="width:200px" />
            }
        }
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary" style="background-color: #2ec42e; border: none">Edit Post</button>
        <a class="btn btn-secondary" asp-controller="Post" asp-action="Index">Cancel</a>
    </div>
</form>








